body{
    background-color: #00CED1;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
   size: 10; 
   border-style: solid;
   border-color: black;
}
h1{
    font-size: 40px;
    text-align: center;
    color: black;
}
.center{

    border-radius: 30%;
}
p{
    font-size: 25px;
    text-align: left;
}
th{
    font-size: 23px;
}
td{
    text-align: center;
    font-size: 23px;
}
.a{
    text-align: left;
}

table{
    text-align: center;
    border-color:black;
}
#nama{
    font-size: 27px;
    text-align: left;
    color: #4B0082;

}

.list {
    color : #A52A2A;
    size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data{
    color:#00008B;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tabel{
    background-color: yellow;
}